<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}基础标题{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="{% block sub-style %}{% endblock %}">
</head>
<body>
    <div class="header-wrapper">
        <div class="header-content">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a class="sub-item" href="/r01/sensor">传感器数据</a></li>
                <li><a class="sub-item" href="/r01/state">机器人状态数据</a></li>
                <li><a class="sub-item" href="/r01/envir">工作环境信息</a></li>
                <li><a class="sub-item" href="/r01/result">数据处理结果</a></li>
                <li><a class="sub-item" href="/r01/tactic">决策数据</a></li>
            </ul>
        </div>
        <div class="sub-content">
            {% block sub-list %}
            {% endblock %}
        </div>
    </div>
</body>
{% block change-color %}
{% endblock %}
</html>