<style>
    .lst-content-wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .lst-content {
        width: 500px;
        height: 50px;
        margin: 0 auto;
    }

    .lst-content ul {
        list-style: none;
    }

    .lst-content ul li a {
        text-decoration: none;
        display: inline-block;
        float: left;
        line-height: 50px;
        color: #333333;
        font-size: 12px;
        width: 100px;
        margin: 0 10px;
        text-align: center;
    }

    .lst-content ul li a:hover {
        color: #0072C6;
    }

</style>
{% extends 'base.html' %}
{% block title %}
    工作环境信息
{% endblock %}
{% block sub-list %}
    <div class="lst-content-wrapper">
        <div class="lst-content">
            <ul>
                <li><a class="item active" href="#">障碍物识别表</a></li>
                <li><a class="item" href="#">识别目标物表</a></li>
                <li><a class="item" href="#">局部地图表</a></li>
                <li><a class="item" href="#">全局地图表</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block change-color %}
    <script>
        var activeElement = document.getElementsByClassName('sub-item')[2];
        activeElement.style.color = '#9a9a9a'
    </script>
    <script src="/static/js/items.js"></script>
{% endblock %}
