{% extends 'base.html' %}
{% block sub-style %}
    /static/css/sub.css
{% endblock %}
{% block title %}
    传感器数据
{% endblock %}
{% block sub-list %}
    <div class="lst-content-wrapper">
        <div class="lst-content">
            <ul>
                <li value="InfraredSensor"><a class="item sub-nav-active" href="javascript:void(0)">红外传感器</a></li>
                <li value="UltrasonicSensor"><a class="item" href="javascript:void(0)">超声传感器</a></li>
                <li value="LaserSensor"><a class="item" href="javascript:void(0)">激光传感器</a></li>
                <li value="ForwardVisionSensor"><a class="item" href="javascript:void(0)">向前视觉传感器</a></li>
                <li value="OverallViewSensor"><a class="item" href="javascript:void(0)">全景视觉传感器</a></li>
                <li value="KinectVideoSensor"><a class="item" href="javascript:void(0)">Kinect彩色数据</a></li>
                <li value="KinectDeepSensor"><a class="item" href="javascript:void(0)">Kinect深度数据</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script-link %}
    <script src="/static/js/sensor.js"></script>
    <script src="/static/js/changeNavColor.js"></script>
{% endblock %}
