{% extends 'base.html' %}
{% block sub-style %}
    /static/css/sub.css
{% endblock %}
{% block title %}
    传感器数据
{% endblock %}
{% block sub-list %}
    <div class="lst-content-wrapper">
        <div class="lst-content">
            <ul>
                <li value="infraredsensor"><a class="item active" href="javascript:void(0)">红外传感器</a></li>
                <li value="ultrasonicsensor"><a class="item" href="javascript:void(0)">超声传感器</a></li>
                <li value="lasersensor"><a class="item" href="javascript:void(0)">激光传感器</a></li>
                <li value="forwardvisionsensor"><a class="item" href="javascript:void(0)">向前视觉传感器</a></li>
                <li value="overallviewsensor"><a class="item" href="javascript:void(0)">全景视觉传感器</a></li>
                <li value="kinectvideosensor"><a class="item" href="javascript:void(0)">Kinect彩色数据</a></li>
                <li value="kinectdeepsensor"><a class="item" href="javascript:void(0)">Kinect深度数据</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
                <td>
                    <div class="td-content">内容</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block change-color %}
    <script>
        window.onload = function () {
            let activeElement = document.getElementsByClassName('sub-item')[0];
            activeElement.style.color = '#9a9a9a';

            // Ajax 数据请求
            let HttpClient = function () {
                this.baseUrl = '/r01/sensor-';
            };

            HttpClient.prototype.get = function (param, callback) {
                let url = `${this.baseUrl}` + param;
                let r = new XMLHttpRequest();
                r.responseType = 'json';
                r.open('GET', url, true);
                r.onreadystatechange = function () {
                    if (r.readyState === 4) {
                        callback(r.response);
                    }
                };
                r.send();
            };

            let client = new HttpClient();

            // 为所有link添加事件
            let links = document.getElementsByClassName('item');
            for (let i = 0; i < links.length; i++) {
                let link = links[i];
                link.addEventListener('click', function (event) {
                    let param = event.target.parentNode.getAttribute('value');
                    //发送get请求
                    client.get(param, function (response) {
                        console.log(response);
                        if (response.status) {
                            //清空thead中的内容
                            let elem = document.getElementsByTagName('thead')[0];
                            elem.innerHTML = '';
                            doTableHead(response.tabs)
                        } else {
                            alert(response.error)
                        }
                    });
                });
            }

            //生成table表头
            let doTableHead = function (tabNames) {
                //读取信息生成th插入到table中
                let elemTr = document.createElement('tr');
                for (let j = 0; j < tabNames.length; j++) {
                    let elemTh = document.createElement('th');
                    let elemDiv = document.createElement('div');
                    elemDiv.innerHTML = `${tabNames[j]}`;
                    elemDiv.classList.add('th-content');
                    elemTh.appendChild(elemDiv);
                    elemTr.appendChild(elemTh);
                }
                let elemThead = document.getElementsByTagName('thead')[0];
                elemThead.appendChild(elemTr);
            }
        };
    </script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/items.js"></script>
{% endblock %}
