{% extends 'base.html' %}
{% block sub-style %}
    /static/css/sub.css
{% endblock %}
{% block title %}
    机器人状态数据
{% endblock %}
{% block sub-list %}
    <div class="lst-content-wrapper">
        <div class="lst-content">
            <ul>
                <li><a class="item active" href="#">机器人信息</a></li>
                <li><a class="item" href="#">机器人工作信息</a></li>
                <li><a class="item" href="#">机器人任务信息</a></li>
                <li><a class="item" href="#">传感器信息</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block change-color %}
    <script>
        let activeElement = document.getElementsByClassName('sub-item')[1];
        activeElement.style.color = '#9a9a9a'
    </script>
    <script src="/static/js/changeNavColor.js"></script>
{% endblock %}
