{% extends 'base.html' %}
{% block sub-style %}
    /static/css/sub.css
{% endblock %}
{% block title %}
    决策数据
{% endblock %}
{% block sub-list %}
    <div class="lst-content-wrapper">
        <div class="lst-content">
            <ul>
                <li><a href="#">null</a></li>
                <li><a href="#">null</a></li>
                <li><a href="#">null</a></li>
                <li><a href="#">null</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block change-color %}
    <script>
        let activeElement = document.getElementsByClassName('sub-item')[4];
        activeElement.style.color = '#9a9a9a'
    </script>
    <script src="/static/js/changeNavColor.js"></script>
{% endblock %}
